In [9]:
df=pd.read_csv("ml_data.csv")

In [10]:
import pandas as pd

In [11]:
df.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,target
0,1,1,0,28,1,0,0,1,1,1,...,1,3,0,0,0,0,9,5,3,0
1,0,0,1,24,0,0,0,1,1,1,...,0,2,0,0,0,0,8,6,8,0
2,1,0,1,32,0,0,1,1,1,1,...,0,2,0,2,0,1,11,6,8,2
3,0,0,1,25,1,0,0,1,1,1,...,0,2,0,0,0,0,6,6,8,0
4,1,1,1,26,1,0,0,1,1,0,...,0,2,3,3,1,0,9,3,1,0

In [13]:
df.describe()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,target
count,228312.000000,228312.000000,228312.00000,228312.000000,228312.000000,228312.000000,228312.000000,228312.000000,228312.000000,228312.000000,...,228312.000000,228312.000000,228312.000000,228312.000000,228312.000000,228312.000000,228312.000000,228312.000000,228312.000000,228312.000000
mean,0.429014,0.424660,0.96274,28.387535,0.443380,0.040620,0.094358,0.756535,0.634093,0.811560,...,0.084043,2.510569,3.178755,4.236987,0.168243,0.439942,8.036849,5.050357,6.054548,0.296918
std,0.494936,0.494292,0.18940,6.617483,0.496785,0.197408,0.292326,0.429174,0.481685,0.391064,...,0.277453,1.068077,7.403429,8.716479,0.374083,0.496381,3.053697,0.985780,2.070492,0.698156
min,0.000000,0.000000,0.00000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,1.00000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000,0.000000
50%,0.000000,0.000000,1.00000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000,0.000000
75%,1.000000,1.000000,1.00000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000,0.000000
max,1.000000,1.000000,1.00000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000,2.000000

In [14]:
# Count the number of instances in each class
class_counts = df['target'].value_counts()

# Print the class counts
print(class_counts)

target
0    192333
2     31811
1      4168
Name: count, dtype: int64

In [12]:
import numpy as np
import pandas as pd
from imblearn.over_sampling import SMOTE

# Split the dataframe into features and target variables
X = df.drop('target', axis=1)
y = df['target']

# Over-sample the minority class
X_resampled, y_resampled = SMOTE().fit_resample(X, y)

# Combine the over-sampled data with the original data
df_resampled = pd.concat([X_resampled, y_resampled], axis=1)

In [15]:
# Count the number of instances in each class
class_counts = df_resampled['target'].value_counts()

# Print the class counts
print(class_counts)

target
0    192333
2    192333
1    192333
Name: count, dtype: int64

In [16]:
df_resampled.to_csv('smote_data.csv', index=False)

In [17]:
import numpy as np
import pandas as pd
from imblearn.over_sampling import ADASYN

# Split the dataframe into features and target variables
X = df.drop('target', axis=1)
y = df['target']

# Create an instance of the ADASYN class
adasyn = ADASYN()

# Over-sample the minority class
X_resampled, y_resampled = adasyn.fit_resample(X, y)

# Combine the over-sampled data with the original data
df_adasyn = pd.concat([X_resampled, y_resampled], axis=1)

In [18]:
# Count the number of instances in each class
class_counts = df_adasyn['target'].value_counts()

# Print the class counts
print(class_counts)

target
1    192918
2    192871
0    192333
Name: count, dtype: int64

In [19]:
df_adasyn.to_csv('adasyn_data.csv', index=False)

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [4]:
dftest=pd.read_csv("test_data.csv")